@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    width: 80%;
}
h1 {
    padding: 10px;
    text-decoration: underline rgb(228, 35, 228);
}
input {
    border: none;
    border-radius: 4px;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px #dedede, -4px -4px 4px #dedede;
    padding: 10px 0px 10px 5px;
}

#addbtn {
    font-size: 35px;
    display: flex;
}
.addBtn {
    border-radius: 3px;
    background-color: #7301b6;
    color: #ffffff;
    box-shadow: 2px 2px 2px #dedede, -2px -2px 2px #dedede;
}
.addBtn:hover {
    border-radius: 3px;
    background-color:#9c14eb;
}

#impbtn {
    border-radius: 3px;
    background-color: #F3A738;
}
#impbtn:hover {
    border-radius: 3px;
    background-color: #f3c848;
        box-shadow: inset 4px 4px 9px #834D0C,
        inset -4px -4px 9px #834D0C;
        color: #ffffff;
}
.done {
    border-radius: 3px;
    background-color: #4ed088;
}
.done:hover {
    border-radius: 3px;
    background-color: #5ed088;
    /* box-shadow: inset 2px 2px 2px #dedede, -2px -2px 2px #dedede; */
    color: #ffffff;
}
.remove {
    border-radius: 3px;
    background-color: #ff4d4d;
}
.remove:hover {
    border-radius: 3px;
    background-color: #ff6d6d;
    /* box-shadow: inset 2px 2px 2px #dedede, -2px -2px 2px #dedede; */
    color: #ffffff;
}
li.finished {
    background-color: #4ed088;
    /* box-shadow: inset 2px 2px 2px #dedede, -2px -2px 2px #dedede; */
    color: #ffffff;
}
li.important {
    background-color: #f3c848;
    font-size: 15px;
    font-weight: light;
}
input[type="text"]{
    /* font-size: 18px; */
    width: 94%;
    padding: 10px;
}
input[type="text"]:focus {
border-color: #81189b;
}
#addButton {
    padding: 10px;
}
#myHeader {
    display: flex;
    justify-content: center;
}
#input {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 4px 4px 9px #81189b, inset -4px -4px 9px #c664da;
}
#low_marker {
    border-radius: 3px;
    background-color: #4ed088;
}
#med_marker {
    border-radius: 3px;
    background-color: #f3c848;
}
#high_marker {
    border-radius: 3px;
    background-color: #ff4d4d;
}
.bug_list_item {
    display: inline-flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: light;
    /* text-decoration: underline .09em rgb(228, 35, 228); */
}
.post{
  color:rgb(228, 35, 228);
  font-size: 20px;
}